* {
font-family: "Arial";
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
box-sizing: border-box;
}


body {
    background: #121212;
    box-sizing: border-box;
    display:block;
    margin: 0pt;
}

header{
    border-bottom: solid 1px #352a2a;
}

.logo-menu{
    width: 90pt;
}


main{
    margin: 2%  10%;
}

.logo{
    width: 200pt;
}

article{
    display: block;
}

.comienzo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex{
    display: flex ;
}

.producto-crema{
    width: 50%;
}

.contacto{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: aliceblue;
    font-size: 20pt;
}

h2{
    color: aliceblue;
    font-size: 16pt;
}

h3{
    color: aliceblue;
    font-size: 12pt;
}

h4{
    color: aliceblue;
    font-size: 12pt;
}

h5{
    color: aliceblue;
    font-size: 10pt;
}

p{
    color: aliceblue;
}

input{
    color: aliceblue;
    background: #313131;
    border-radius: 10px;
    border:none;
    padding: 10px;
    margin: 10pt;
}

button{
    background:linear-gradient( to bottom ,#ffe395, #583919);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.342);
    color:#000000;
    padding:15px 50px;
    margin: 10pt 0pt;
    border-radius: 30px;
    font-weight: 800;
    font-size: 10pt;
    border: none;
    align-self: center;
    white-space: nowrap;
}

button:hover{
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.767);
}

.agregar_carrito {
    display: flex;
}

.botonderecha{
    display: flex;
    justify-content: center;
}

/*crema card*/

.grilla{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.contenedor{
    background: #352a2a;
    border-radius: 12pt;
    width: 100%;
    display: flex;
    padding: 0pt;
    flex-direction: column;
}

.imagen-crema {
    width: 100%;
    border-radius: 12pt;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.61);
}


.texto-carta{
    padding: 10pt;
}


.swal2-popup{
    background-color: #313131;
    color: aliceblue;
}

.swal2-styled {
    background:linear-gradient( to bottom ,#ffe395, #583919);
    color:#000000;
}

.texto{
    margin: 20pt 20%;
    text-align: center;
}

/* carito*/

.crema-carrito{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.carrito{
    display: grid;
    grid-column: 1 / 3;
    grid-gap: 30px;
}

.carrito-contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10pt ;
    background: #352a2a;
    border-radius: 12pt;
}

.imagen-crema-carito{
    width:100%;
    border-radius: 12pt;
}

.texto-carta-carrito{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 10pt 0pt;
}

.mas-menos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.mas{
    background:linear-gradient( to bottom ,#ffe395, #583919);
    color:#000000;
    margin:5pt;
    border-radius:30pt;
    font-weight: 800;
    font-size: 10pt;
    border: none;
    padding:15px 50px;
}

.menos{
    background:linear-gradient( to bottom ,#ffe395, #583919);
    color:#000000;
    margin:5pt;
    border-radius:30pt;
    font-weight: 800;
    font-size: 10pt;
    border: none;
    padding:15px 50px;
}

@media (max-width: 1000px){
    main{
        margin: 2%  5%;
    }

    .container-fluid {
        display: flex;
        flex-direction:column;
        align-items: center;
    }

    .flex{
        display: block;
    }

    .grilla{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .crema-carrito{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    }
}

@media (max-width: 500px){

    .search{
        display:flex;
        flex-direction: column;
    }

    .container-fluid {
        display: flex;
        flex-direction:column;
        align-items: center;
    }

    .grilla{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}